h2.feedback {
  margin-top: 64px;
}

form.feedback {
  max-width: 500px;
  margin: 24px auto;

  textarea {
    border: 1px solid grey;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 100px;
    resize: vertical;
  }

  ::placeholder {
    color: grey;
  }
}
