@use '../variables';

.heading {
  margin-top: variables.$spacing-55;
}

.form {
  max-width: 500px;
  margin: variables.$spacing-21 auto;

  textarea {
    border: 1px solid variables.$grey;
    padding: variables.$spacing-5;
    margin-bottom: variables.$spacing-8;
    width: 100%;
    min-height: 100px;
    resize: vertical;
  }

  ::placeholder {
    color: variables.$grey;
  }

  .primary {
    background-color: variables.$dark-grey;
    padding: variables.$spacing-8 variables.$spacing-21;
    border: none;
    margin: 0 auto;
    width: fit-content;
    color: variables.$white;

    &:hover {
      color: variables.$black;
      background-color: variables.$light-grey;
    }
  }
}
