.heading {
  margin-top: 64px;
}

.form {
  max-width: 500px;
  margin: 24px auto;

  textarea {
    border: 1px solid grey;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 100px;
    resize: vertical;
  }

  ::placeholder {
    color: grey;
  }

  .primary {
    background-color: dimgrey;
    padding: 10px 20px;
    border: none;
    margin: 0 auto;
    width: fit-content;
    color: white;

    &:hover {
      color: black;
      background-color: darkgrey;
    }
  }
}
