@use '../variables';

.octave {
  display: grid;
  // Shorten columns displaying sharp notes
  grid-template-columns: 15.25% 13% 15.25% 13% 15.25% 15.25% 13%;
  margin: auto 0;

  .note {
    background-color: variables.$lighter-grey;
    border: 1px solid variables.$lighter-grey;
    padding: variables.$spacing-2 variables.$spacing-5;
    font-size: variables.$font-xs;
    height: min-content;
    border-radius: variables.$border-radius-m;
    margin: variables.$spacing-3 variables.$spacing-3 variables.$spacing-3;

    &.wrapped {
      margin-bottom: variables.$spacing-8;
    }

    &.sharp {
      background-color: variables.$lightest-grey;
    }

    &:hover {
      background-color: variables.$light-grey;
      border: 1px solid variables.$light-grey;
    }
  }

  @media (min-width: variables.$screen-m) {
    grid-template-columns: 10% 6% 10% 6% 10% 10% 6% 10% 6% 10% 6% 10%;

    .note {
      font-size: variables.$font-s;
    }
  }
}
