.tone-generator {
  button {
    font-size: 1em;
    cursor: pointer;
  }

  label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .widget {
    > button:first-child {
      color: dimgrey;

      &:hover {
        color: darkgrey;
      }
    }

    .frequency button {
      color: dimgrey;
      border: none;
      background: transparent;
      margin: 0 5px;

      &:hover {
        color: darkgrey;
      }
    }

    input[type=range] {
      -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -11px;
    }

    @mixin thumb() {
      border: 1px solid black;
      height: 30px;
      width: 13px;
      border-radius: 3px;
      background: white;
      cursor: ew-resize;
    }

    @mixin track() {
      height: 8px;
      cursor: pointer;
      background: lightsteelblue;
    }

    input {
      &::-webkit-slider-thumb {
        @include thumb;
      }

      &::-moz-range-thumb {
        @include thumb;
      }

      &::-webkit-slider-runnable-track {
        @include track;
      }

      &::-moz-range-track {
        @include track;
      }
    }

    .waveform button,
    button.note-icon {
      font-family: inherit;
      font-size: 0.9em;
      padding: 0.5em;
      background-color: whitesmoke;
      border: 1px solid whitesmoke;
      border-radius: 10px;
      cursor: pointer;

      &:hover:not(.active) {
        border: 1px solid darkgrey;
      }

      &.active {
        background-color: darkgrey;
        border: 1px solid darkgrey;
      }
    }
  }
}
