@use '../variables';

.toneGenerator {
  margin-top: variables.$spacing-34;

  h1 {
    margin-bottom: variables.$spacing-34;
  }

  label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
