@use 'variables';

.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);

  section {
    position: fixed;
    background: variables.$white;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: variables.$spacing-8;
    display: flex;
    flex-direction: column;

    > div:first-child {
      display: flex;
      justify-content: flex-end;

      > button:first-child {
        padding: variables.$spacing-5 variables.$spacing-3;
        margin-bottom: variables.$spacing-5;
        border: none;
        background: transparent;
      }
    }

    > div:nth-child(2) {
      margin: auto 0;
    }

    @media (min-width: variables.$screen-m) {
      width: 95%;
      max-width: 800px;
      height: auto;
      padding: variables.$spacing-13;
      border-radius: variables.$border-radius-l;

      > div:first-child {
        > button:first-child {
          padding-top: 0;
          margin-bottom: variables.$spacing-13;
        }
      }
    }

    @media (min-width: variables.$screen-l) {
      width: 90%;
      max-width: 850px;
      padding: variables.$spacing-21;
    }
  }
}

.visible {
  display: block;
}
