body {
  *, *:before, *:after {
    box-sizing: border-box;
  }

  margin: 0;
  line-height: 1.3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1.25rem;

    main {
      p {
        margin: 0.5rem 0;
      }

      h1 {
        margin: 0.5rem 0;
        font-size: 2em;
        font-weight: normal;
      }
    }

    footer {
      margin: 2rem 0;
      text-align: center;

      a {
        font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
      }
    }
  }

  @media (min-width: 786px) {
    .container {
      max-width: 786px;
    }
  }
}
