*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.3;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1.25rem;
}

p {
  margin: 0.5rem 0;
}

h1 {
  margin: 0.5rem 0;
  font-size: 2em;
  font-weight: normal;
}

footer {
  margin: 2rem 0;
  text-align: center;
}

@media (min-width: 786px) {
  .container {
    max-width: 786px;
  }
}
