@use 'variables';

html {
  font-size: 100%;
}

body {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  margin: 0;
  line-height: 1.3;
  font-family: variables.$font-sans-serif;
  color: variables.$light-black;

  h1 {
    margin: variables.$spacing-8 0;
    font-size: variables.$font-xxl;
    font-weight: normal;
  }

  h2 {
    margin: variables.$spacing-34 0 8px;
    font-size: variables.$font-xl;
    font-weight: normal;
  }

  p {
    margin: variables.$spacing-8 0;
  }

  a {
    color: variables.$blue;
    font-family: variables.$font-mono;

    &:link,
    &:visited,
    &:focus {
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  button {
    cursor: pointer;
    font-family: inherit;
    font-size: variables.$font-m;
    border-radius: variables.$border-radius-l;
    display: block;
  }

  input[type=range] {
    -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -11px;
  }

  @mixin thumb() {
    border: 1px solid variables.$black;
    height: 30px;
    width: 13px;
    border-radius: variables.$border-radius-m;
    background: variables.$white;
    cursor: ew-resize;
  }

  @mixin track() {
    height: 8px;
    cursor: pointer;
    background: variables.$light-blue;
  }

  input {
    &::-webkit-slider-thumb {
      @include thumb;
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }

    &::-moz-range-track {
      @include track;
    }
  }

  // Prevent content layout shifts on JavaScript load
  .svg-inline--fa {
    height: 1em;
    vertical-align: -0.125em;

    &.fa-lg {
      font-size: 1.33em;
      vertical-align: -0.225em;
    }

    &.fa-3x {
      font-size: 3em;
    }
  }
}
