$screen-m: 768px;
$screen-l: 1024px;

$font-mono: sfmono-regular, consolas, "Liberation Mono", menlo, monospace;
$font-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Helvetica Neue", sans-serif;

$font-xs: 0.75em;
$font-s: 0.85em;
$font-m: 1em;
$font-l: 1.2em;
$font-xl: 1.5em;
$font-xxl: 2em;

$spacing-1: 1px;
$spacing-2: 2px;
$spacing-3: 3px;
$spacing-5: 5px;
$spacing-8: 8px;
$spacing-13: 13px;
$spacing-21: 21px;
$spacing-34: 34px;
$spacing-55: 55px;

$white: white;
$lightest-grey: whitesmoke;
$lighter-grey: gainsboro;
$light-grey: darkgray;
$grey: grey;
$dark-grey: dimgrey;
$light-black: #303030;
$black: black;
$light-blue: lightsteelblue;
$blue: royalblue;

$border-radius-m: 4px;
$border-radius-l: 8px;
